@import '../../baseExport.scss';

.app {
  display: flex;
  flex-direction: column;

  &__wrapper {
    padding: 10px 10px;
    background-color: $template-color-bg;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__header {
    display: flex;
    min-height: 160px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 15px;
    @media (min-width: 450px) {
      margin: 0px 30px 0px 30px;
    }
    @media (min-width: 770px) {
      margin: auto;
      flex-direction: row;
    }
  }

  &__sidebar {
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
