$template-color-bg: #f3f7fa;

$primary-color-bg: #2196f3;

$secondary-color-border: #dfe5ec;

$neutral-color-bg: #ffff;

$hover-color-bg: #f1fcff;

$primary-color-font: #4a4a4a;

$alternat-color-font: #ffff;

$secondary-color-font: #a0b0b9;

$primary-font-family: 'Open Sans';

$buttons-font-size: 12px;
$buttons-line-height: 20px;

$bold-font-weight: 600;
$normal-font-weight: 400;

$header-font-size: 24px;
$header-line-height: 24px;

$first-font-size: 12px;
$first-line-height: 18px;

$second-font-size: 14px;
$second-line-height: 21px;

$third-font-size: 12px;
$third-line-height: 12px;

$fourth-font-size: 13px;
$fourth-line-height: 20px;
